@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Kaushan+Script&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Lobster&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lobster&family=Mogra&family=Racing+Sans+One&family=Roboto:wght@300&display=swap');
@font-face {
    font-family: 'Koulen', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Mogra', cursive;
    font-family: 'Racing Sans One', cursive;
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
}

body{
    background-color: white;
}
/*header styles*/
.header img{
    width: 100%;
    opacity: 100%;
}

.centerText{
    position: absolute;
    left: 50%;
    margin-right: -100vw;
    text-align: center;
    transform: translate(-50%, -50%); 
    font-family: 'Kaushan Script', cursive;
    font-weight: 500;
    color: #1d0b33;
}

@media screen and (min-width: 940px){
    .centerText{
        font-size: 15vh;
        top: 40.5%;
    }
    #TitlePlate{
        height: 70vh;
        top: 41%;
    }

    }
@media screen and (max-width: 940px){
    .centerText{
        font-size: 7vw;
        top: 28.5%;
    }
    #TitlePlate{
        top: 28%;
    }
}

#TitlePlate{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); 
}

/* CONTENT STYLES */


.BlogContent{
    padding: 5vh 14vh 5vh 14vh;
    background-color: whitesmoke;
    color: #0e0015; 
    width: 100%;
}

.BlogContent p{
    text-indent: 2vw;
    text-align: justify;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 3vh;
    line-height: 6vh;
}

.PostTitle{
    text-align: center;
    font-size: 10vh;
    font-family: 'Libre Caslon Text', serif;
    font-weight: 500;
    color: #1d0b33;
}

#LeftImg{
    margin-right: 35px;
    width: 50%;
    float: left;
}