@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lobster&family=Mogra&family=Racing+Sans+One&family=Roboto:wght@300&display=swap');
@font-face {
    font-family: 'Koulen', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Mogra', cursive;
    font-family: 'Racing Sans One', cursive;
    font-family: 'Roboto', sans-serif;
}

#logo {
    width: 50px;
    height: 50px;
}

h1 {
    font-size: 4vw;
    font-family: 'Mogra', cursive;
    color: rgb(0, 0, 0);
}

#albums {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#newjeans {
width: 200px;
height: auto;
padding-bottom: 30px;
padding-top: 10px;
}

#ditto {
width: 200px;
height: auto;
padding-bottom: 30px;
}

#omg {
width: 200px;
height: auto;
padding-bottom: 30px;
}

#zero {
width: 200px;
height: auto;
padding-bottom: 30px;
}
