@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lobster&family=Mogra&family=Racing+Sans+One&family=Roboto:wght@300&display=swap');
@font-face {
    font-family: 'Koulen', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Mogra', cursive;
    font-family: 'Racing Sans One', cursive;
    font-family: 'Roboto', sans-serif;
}

/* member page */
#name {
    font-size: 10vw;
    font-family: 'Mogra', cursive;
    color: rgb(0, 0, 0);
}
#info {
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    text-align: justify;
}

#column {
    padding-top: 60px;
    padding-bottom: 30px;
}

#column2 {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#column3 {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#dani {
    font-size: 8vw;
    font-family: 'Mogra', cursive;
    color: rgb(0, 0, 0);
}

/* footer */
#footer {
    background-color: rgb(0, 0, 0);
    padding-top: 50px;
    padding-bottom: 40px;
}

.icons img {
    width: 6vw;
    font-size: 10vw;
    font-family: 'Mogra', cursive;
    color: rgb(0, 0, 0);
    filter: invert(1);
}

.footer-copyright {
    font-size: 1.7vw;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    text-align: justify;
}
